body {
  background: linear-gradient(270deg, #4682B4, #B0C4DE);
  margin: 0;
  padding: 0;
}
a {
  font-size: 100px;
  font-family: 'Verdana';
  color: white;
  padding: 20px;
  border: 15px solid white;
  text-decoration: none;
  margin-top: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: sub;
}
a:hover {
  color: white;
  border: 15px solid white;
  text-decoration: none;
  background:rgba(255,255,255,0.3);
}
