@font-face {
    font-family: 'verbatim-regular';
    src: url('/verbatim_regular_macroman/verbatim-regular-webfont.woff2') format('woff2'),
         url('/verbatim_regular_macroman/verbatim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'verbatim-oblique';
    src: url('/verbatim_oblique_macroman/verbatim-oblique-webfont.woff2') format('woff2'),
         url('/verbatim_oblique_macroman/verbatim-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background: linear-gradient(270deg, #8CBCE0, #4985C5);
  margin: 0;
  padding: 0;
}

a {
  font-size: 100px;
  font-family: 'verbatim-regular', 'Verdana';
  color: white;
  padding: 20px;
  border: 15px solid white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

a:hover {
  color: white;
  border: 15px solid white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
}

h1 {
  font-family: 'verbatim-oblique', 'Verdana';
  color: white;
  font-size: 100px;
}
