@font-face {
    font-family: 'verbatim-regular';
    src: url('/Fonts/verbatim_regular_macroman/verbatim-regular-webfont.woff2') format('woff2'),
         url('/Fonts/verbatim_regular_macroman/verbatim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'verbatim-oblique';
    src: url('/Fonts/verbatim_oblique_macroman/verbatim-oblique-webfont.woff2') format('woff2'),
         url('/Fonts/verbatim_oblique_macroman/verbatim-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  <!-- background: linear-gradient(270deg, #A9F9FF, #4985C5); -->
}

a {
  font-size: 100px;
  font-family: 'verbatim-regular', 'Verdana';
  color: white;
  margin-bottom: 30px;
  border: 15px solid white;
  text-decoration: none;
  text-align: center;
  display: block;
}

a:hover {
  color: white;
  border: 15px solid white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
}

h1 {
  font-family: 'verbatim-oblique', 'Verdana';
  color: white;
  font-size: 100px;
  margin-bottom: 30px;
}

#links {
  width: 50%;
  text-decoration: none;
  padding: 15px;
}

#allContent {
  <!-- width: 95%; -->
  margin: 0, 5%;
  background-image: url('Mountains.jpg');
  background-color: #4985C5;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
