@font-face {
    font-family: 'Rubik-Light';
    src: url('/Fonts/rubik/Rubik-Light.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
  }

html {
    background-image: url('../space.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 110px;
    font-family: sans-serif;
}

#input {
    text-align: center;
    font-size: 50px;
    font-family: 'Rubik-light';
    margin: 0 auto;
}

#container {
    display: flex;
    margin: 100px auto;
}

#output {
    display: flex;
    margin: 0 auto;
    margin-top: 300px;
}